@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to QrWifi</h1>
</div>

@model QrWifi.Models.qrCodeModel

@using (Html.BeginForm("Submit", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label for="ssid">Network Name:</label>
        @Html.TextBoxFor(model => model.ssid, new { @class = "form-control", autocomplete = "off", name = "ssid", @required = "required" })
    </div>

    <div class="form-group">
        <label for="password">Network Password:</label>
        <div class="input-group">
            @Html.PasswordFor(model => model.password, new { @class = "form-control", autocomplete = "off", name = "password", id = "userPassword", @required = "required" })
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="myFunction()">Show</button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="auth">Which authentication is your wifi:</label>
        @Html.DropDownListFor(model => model.auth, new SelectList(new[] { "WEP", "WPA/WPA2" }), "Select Authentication", new { @class = "form-control", id = "auth", @required = "required" })
    </div>

    <div class="form-group">
        <label for="hiddenSSID">Is the Network hidden:</label>
        @Html.DropDownListFor(model => model.hiddenSSID, new SelectList(new[] { "True", "False" }), "Select an option", new { @class = "form-control", id = "hiddenSSID", @required = "required" })
    </div>

    <details>
        <summary>Advance Features</summary>
        
        <div>
            <label>Please don't use similar color as the phone won't be able to scan it:</label>
        </div>

        <div class="form-group">
            <label for="bg-color">Background Color:</label>
            <input type="color" id="bg-color" name="bgColor" value="@Model?.bgColor ?? " #ffffff"" />
        </div>


        <div class="form-group">
            <label for="fg-color">Foreground Color:</label>
            @if (Model != null) {
                <input type="color" id="fg-color" name="fgColor" value="@Model.GetFgColorHex()" />
            } else {
                <input type="color" id="fg-color" name="fgColor" value="#ffffff" />
            }
        </div>

        <div class="form-group">
            <label asp-for="Imgpath" class="control-label"></label>
            <input asp-for="Imgpath" type="file" class="form-control" />
        </div>

    </details>

    <button type="submit" class="btn btn-primary">Generate QR Code</button>

    <div class="text-center">
        @if (ViewBag.QRcode != null)
        {
            <img src="@ViewBag.QRcode" style="max-width:100%; height:auto; max-height:80vh;" />
        }
    </div>
}

<script>
    function myFunction() {
        var x = document.getElementById("userPassword");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>

<script>
    // Hide the QR code container initially
    $('#qr-code-container').hide();

    // Handle the form submission
    $('form').submit(function (event) {
        event.preventDefault();

        // Get the form data and submit it via AJAX
        var formData = $(this).serialize();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GenerateQRCode")',
            data: formData,
            success: function () {
                // Show the QR code container and scroll to it
                $('#qr-code-container').show();
                $('html, body').animate({
                    scrollTop: $('#qr-code-container').offset().top
                }, 500);
            }
        });
    });
</script>

<style>
    #qr-code {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
</style>