@{
    ViewData["Title"] = "Home Page";
}

@model QrWifi.Models.qrCodeModel

@using (Html.BeginForm("Submit", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label for="ssid">Network Name:</label>
        @Html.TextBoxFor(model => model.ssid, new { @class = "form-control", autocomplete = "off", name = "ssid"})
    </div>

    <div class="form-group" style="margin-top: 20px;">
        <label for="auth">Which authentication is your wifi:</label>
            @Html.DropDownListFor(model => model.auth, new SelectList(new[] { "WEP", "WPA/WPA2", "None" }), "Select Authentication", new { @class = "form-control", id = "auth", @required = "required", onchange = "togglePasswordInput()" })        
    </div>

    <div class="form-group" style="margin-top: 20px;" id="password-input">
        <label for="password">Network Password:</label>
        <div class="input-group">
            @Html.PasswordFor(model => model.password, new { @class = "form-control", autocomplete = "off", name = "password", id = "userPassword" })
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="myFunction()">Show</button>
            </div>
        </div>
    </div>

    <div class="form-group" style="margin-top: 20px;">
        <label for="hiddenSSID">Is the Network hidden:</label>
        @Html.DropDownListFor(model => model.hiddenSSID, new SelectList(new[] { "Yes", "No" }), "Select an option", new { @class = "form-control", id = "hiddenSSID", @required = "required" })
    </div>

    <details style ="margin-top: 20px;">
        <summary>Advanced Features</summary>
        
        <div>
            <label>Please don't use similar color as the phone won't be able to scan it:</label>
        </div>

        <div class="form-group" style="margin-top: 20px;">
            <label for="bg-color">Background Color:</label>
            <input type="color" id="bg-color" name="bgColor" value="@Model?.bgColor ?? " #ffffff"" />
        </div>


        <div class="form-group" style="margin-top: 20px;">
            <label for="fg-color">Foreground Color:</label>
            @if (Model != null) {
                <input type="color" id="fg-color" name="fgColor" value="@Model.GetFgColorHex()" />
            } else {
                <input type="color" id="fg-color" name="fgColor" value="#ffffff" />
            }
        </div>

        <div class="form-group" , style="margin-top: 10px;">
            <label asp-for="Imgpath" class="control-label">Pick a Image to replace the middle picture</label>
            <input asp-for="Imgpath" type="file" class="form-control" />
        </div>

    </details>

    <button type="submit" class="btn btn-primary" style="margin-top: 40px;">Generate QR Code</button>

    <div class="text-center">
        @if (ViewBag.QRcode != null)
        {
            <img src="@ViewBag.QRcode" style="max-width:100%; height:auto; max-height:80vh;" />
        }
    </div>
}

<script>
    //this will show and hide the user password when they click the button
    function myFunction() {
        var x = document.getElementById("userPassword");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }

    // Hide the QR code container initially
    $('#qr-code-container').hide();

    // Handle the form submission
    $('form').submit(function (event) {
        event.preventDefault();

        // Get the form data and submit it via AJAX
        var formData = $(this).serialize();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GenerateQRCode")',
            data: formData,
            success: function () {
                // Show the QR code container and scroll to it
                $('#qr-code-container').show();
                $('html, body').animate({
                    scrollTop: $('#qr-code-container').offset().top
                }, 500);
            }
        });
    });

    //id auth
    function togglePasswordInput() {
        var auth = $('#auth').val();
        //if auth = none then it will hide the id = password-input 
        if (auth === "None") {
            $('#password-input').hide();
        //if auth != none  then it will not hide the id = password-input
        } else {
            $('#password-input').show();
        }
    }

    function hideElement() {
        var element = document.getElementById("password-input");
        element.style.display = "none";
    }
    window.onload = hideElement;
</script>

<style>
    #qr-code {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
</style>