@{
    ViewData["Title"] = "Home Page";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

@model QrWifi.Models.qrCodeModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>title</title>
    <p>This website is for turning your wifi into a qr code so your guest can scan and sign into without asking for the password</p>
</head>
<body>
    @using (Html.BeginForm("Submit", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label for="ssid">Network Name:</label>
        @Html.TextBoxFor(model => model.ssid, new { @class = "form-control", autocomplete = "off", name = "ssid", @required = "required"})
    </div>

    <div class="form-group" style="margin-top: 20px;">
        <label for="auth">Which authentication is your wifi:</label>
            @Html.DropDownListFor(model => model.auth, new SelectList(new[] { "WEP", "WPA/WPA2", "None" }), "Select Authentication", new { @class = "form-control", id = "auth", @required = "required"})        
    </div>

    <div class="form-group" style="margin-top: 20px;" id="password-input">
        <label for="password">Network Password:</label>
        <div class="input-group">
            @Html.PasswordFor(model => model.password, new { @class = "form-control", autocomplete = "off", name = "password", id = "userPassword" })
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="myFunction()">Show</button>
            </div>
        </div>
    </div>

    <div class="form-group" style="margin-top: 20px;">
        <label for="hiddenSSID">Is the Network hidden:</label>
        @Html.DropDownListFor(model => model.hiddenSSID, new SelectList(new[] { "Yes", "No" }), "Select an option", new { @class = "form-control", id = "hiddenSSID", @required = "required" })
    </div>

    <details style ="margin-top: 20px;">
        @*Makes the some of the features hidden until they hit advance features*@
        <summary>Advance Features</summary>
        
        <div>
            <label>Please don't use similar color as the phone won't be able to scan it:</label>
        </div>

            @*Lets the user change the color on the qr code*@
        <div class="form-group" style="margin-top: 20px;">
            <label for="bg-color">Background Color:</label>
            <input type="color" id="bg-color" name="bgColor" value="@Model?.bgColor ?? " #ffffff"" />
        </div>

        @*Lets the user change the color on the qr code*@
        <div class="form-group" style="margin-top: 20px;">
            <label for="fg-color">Foreground Color:</label>
            @if (Model != null) {
                <input type="color" id="fg-color" name="fgColor" value="@Model.GetFgColorHex()" />
            } else {
                <input type="color" id="fg-color" name="fgColor" value="#ffffff" />
            }
        </div>

        @*Lets the user put their own image into the middle of the qrcode*@
        <div class="form-group" , style="margin-top: 10px;">
            <label asp-for="Imgpath" class="control-label">Pick a Image to replace the middle picture</label>
            <input asp-for="Imgpath" type="file" class="form-control" />
        </div>

    </details>

    //will be to generate the qr code
    <button type="submit" class="btn btn-primary" style="margin-top: 40px;">Generate QR Code</button>

    //will display the qr code
    <div class="text-center">
        @if (ViewBag.QRcode != null)
        {
            <img src="@ViewBag.QRcode" style="max-width:100%; height:auto; max-height:80vh;" />
        }
    </div>
}
</body>
</html>
<script>
    //this will show and hide the user password when they click the button
    function myFunction() {
        var x = document.getElementById("userPassword");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }

    // Hide the QR code container initially
    $('#qr-code-container').hide();

    $(document).ready(function () {
        // Define the togglePasswordInput() function
        function togglePasswordInput() {
            var auth = $('#auth').val();
            // If auth = "None" then it will hide the #password-input element
            if (auth == "None") {
                $('#password-input').hide();
            }
            // If auth = "WEP" or "WPA/WPA2" then it will show the #password-input element
            else {
                $('#password-input').show();
            }
        }

        // Hide the password input initially
        $('#password-input').hide();

        // Trigger the togglePasswordInput() function to set up the event listener
        togglePasswordInput();

        // Trigger the togglePasswordInput() function on change of the #auth element
        $('#auth').on('change', function () {
            togglePasswordInput();
        });
    });

</script>

<style>
    #qr-code {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
</style>